YKM.Transfer.WebService/YKM.Transfer.RnD/Connected Services/ykmService/ykmWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Test">
        <s:complexType />
      </s:element>
      <s:element name="TestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TestResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PostClCard">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="clCardList" type="tns:ArrayOfModelClCard" />
            <s:element minOccurs="0" maxOccurs="1" name="user" type="tns:ModelUser" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfModelClCard">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ModelClCard" nillable="true" type="tns:ModelClCard" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ModelClCard">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ArkmanId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Title2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AuxilCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AuxilCode2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AuxilCode3" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AuxilCode4" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AuxilCode5" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Address1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Address2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Town" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CityCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Country" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CountryCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PostalCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Telephone1Code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Telephone1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Telephone2Code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Telephone2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FaxCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Fax" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TaxId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TaxOffice" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Contact" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Contact2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Contact3" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EMail" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EMail2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EMail3" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TradingGrp" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GlCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OhpCode" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PersCompany" type="s:unsignedByte" />
          <s:element minOccurs="0" maxOccurs="1" name="TCKNO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="WebUrl" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PurchBrws" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SalesBrws" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ImpBrws" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ExpBrws" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="FinBrws" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ModelUser">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserPassword" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="PostClCardResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PostClCardResult" type="tns:ArrayOfModelResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfModelResult">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ModelResult" nillable="true" type="tns:ModelResult" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ModelResult">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ArkmanId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="tns:ArrayOfString" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="PostInvoice">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="invoiceList" type="tns:ArrayOfModelInvoice" />
            <s:element minOccurs="0" maxOccurs="1" name="user" type="tns:ModelUser" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfModelInvoice">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ModelInvoice" nillable="true" type="tns:ModelInvoice" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ModelInvoice">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="EInvoiceType" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="EInvoice" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="EArchiveDeTrIntPaymentType" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="EDurationType" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="EStatus_EArsiv" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="EArchiveDeTrInstallMentNumber_EArsiv" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="EArchiveDeTrEArchiveStatus_EArsiv" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="EArchiveDeTrSendMod_EArsiv" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="EArchiveDeTrIntPaymentDesc_EArsiv" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EArchiveDeTrIntPaymentAgent_EArsiv" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="EArchiveDeTrIntPaymentDate_EArsiv" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="EArchiveDeTrInsteadOfDesp_EArsiv" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="EInsteadOfDispatch_EFatura" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="EStartDate_EFatura" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="EEndDate_EFatura" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="EDescription_EFatura" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="EDuration_EFatura" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Lines" type="tns:ArrayOfTransactionLine" />
          <s:element minOccurs="0" maxOccurs="1" name="PaymentList" type="tns:ArrayOfPayment" />
          <s:element minOccurs="0" maxOccurs="1" name="Number" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Type" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Date" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Time" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ArpCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GlCode" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DocDate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="DocNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DocTrackNr" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Note1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Note2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Note3" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Note4" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OhpCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AuxilCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AuthCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PaymentCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SalesManCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TradingGrp" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SourceWh" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SourceCostGrp" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Division" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Department" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Factory" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="VatExceptCode" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ArkmanId" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfTransactionLine">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TransactionLine" nillable="true" type="tns:TransactionLine" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TransactionLine">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Type" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="MasterCode" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Quantity" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Price" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DiscountRate" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="VatIncluded" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="VatRate" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="VatAmount" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="VatBase" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="UnitCode" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="UnitConv1" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="UnitConv2" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="OhpCode1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OhpCode2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GlCode1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GlCode2" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TotalNet" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="BaseAmount" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Total" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="PreeAccLines" type="tns:ArrayOfPreeAccLine" />
          <s:element minOccurs="1" maxOccurs="1" name="SourceIndex" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="PurchGlCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AuxilCode" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfPreeAccLine">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="PreeAccLine" nillable="true" type="tns:PreeAccLine" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PreeAccLine">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="LineNr" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DistRate" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Date" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="TSign" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ModuleNr" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CenterCode" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfPayment">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Payment" nillable="true" type="tns:Payment" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Payment">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Date" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="ModuleNr" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TrCode" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Total" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="ProcDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="DiscountDueDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="PayNo" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Days" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="PostInvoiceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PostInvoiceResult" type="tns:ArrayOfModelResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="TestSoapIn">
    <wsdl:part name="parameters" element="tns:Test" />
  </wsdl:message>
  <wsdl:message name="TestSoapOut">
    <wsdl:part name="parameters" element="tns:TestResponse" />
  </wsdl:message>
  <wsdl:message name="PostClCardSoapIn">
    <wsdl:part name="parameters" element="tns:PostClCard" />
  </wsdl:message>
  <wsdl:message name="PostClCardSoapOut">
    <wsdl:part name="parameters" element="tns:PostClCardResponse" />
  </wsdl:message>
  <wsdl:message name="PostInvoiceSoapIn">
    <wsdl:part name="parameters" element="tns:PostInvoice" />
  </wsdl:message>
  <wsdl:message name="PostInvoiceSoapOut">
    <wsdl:part name="parameters" element="tns:PostInvoiceResponse" />
  </wsdl:message>
  <wsdl:portType name="ykmWebServiceSoap">
    <wsdl:operation name="Test">
      <wsdl:input message="tns:TestSoapIn" />
      <wsdl:output message="tns:TestSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PostClCard">
      <wsdl:input message="tns:PostClCardSoapIn" />
      <wsdl:output message="tns:PostClCardSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PostInvoice">
      <wsdl:input message="tns:PostInvoiceSoapIn" />
      <wsdl:output message="tns:PostInvoiceSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ykmWebServiceSoap" type="tns:ykmWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Test">
      <soap:operation soapAction="http://tempuri.org/Test" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostClCard">
      <soap:operation soapAction="http://tempuri.org/PostClCard" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostInvoice">
      <soap:operation soapAction="http://tempuri.org/PostInvoice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ykmWebServiceSoap12" type="tns:ykmWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Test">
      <soap12:operation soapAction="http://tempuri.org/Test" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostClCard">
      <soap12:operation soapAction="http://tempuri.org/PostClCard" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostInvoice">
      <soap12:operation soapAction="http://tempuri.org/PostInvoice" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ykmWebService">
    <wsdl:port name="ykmWebServiceSoap" binding="tns:ykmWebServiceSoap">
      <soap:address location="http://localhost:50100/ykmWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="ykmWebServiceSoap12" binding="tns:ykmWebServiceSoap12">
      <soap12:address location="http://localhost:50100/ykmWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>